<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Cria Eventos Facil</title>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<h1>Lista de Eventos</h1>
	<h3>
		<a href="/cadastrarEvento">Cadastrar Evento</a>
	</h3>
	<table class="container">
		<thead>
			<tr>		
				<th>Id</th>	 
				<th>Nome</th>
				<th>Local</th>
				<th>Data</th>
				<th>Horario</th>
				<th>Deletar</th>				
			</tr>
		</thead>
		<tbody>
			<tr th:each="evento : ${eventos}">						
				<td><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0, evento.id)).build()}"><span th:text="${evento.nome}"></span></a></td>
                <!--<td><span th:text="${evento.codigo}"></span></td>-->
                <!--<td><a th:href="@{/detalhesEvento/{codigo}(codigo = ${evento.codigo})}"></a></td>-->
                <td><span th:text="${evento.nome}"></span></td>
				<td><span th:text="${evento.local}"></span></td>
				<td><span th:text="${evento.data}"></span></td>
				<td><span th:text="${evento.horario}"></span></td>	
				<td>&nbsp;&nbsp;&nbsp;<a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('EC#deletarEvento').arg(0, evento.id)).build()}"><i class="material-icons left">delete</i></a></td>			
			</tr>
		</tbody>	
	</table>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript"
		src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>